streamlit==1.35.0
Pillow==10.3.0
opencv-python-headless==4.9.0.80
PyMuPDF==1.24.5
pdf2image==1.17.0
pypdf==4.2.0
python-docx==1.1.2
reportlab==4.2.0
img2pdf==0.5.1
pytesseract==0.3.10
deep-translator==1.11.4
gTTS==2.5.1
langdetect==1.0.9
numpy==1.26.4
pandas==2.2.2

